body {
	background-color: #f1f4f7;
	font-family: 'Montserrat', sans-serif;
}

#back-container {
	background-image: url('../images/slide1.jpg');
	position: initial;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

#fondo-container-no-footer {
	background-image: url('../images/slide1.jpg');
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

#login-container {
	padding: 4em 0;
	color: white;
	text-align: center;
}

#login-container .container {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	padding: 5em;
}

#login-container .container .logo-container h1 {
	font-size: 50px;
	text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

#login-container .container .logo-container h4 small {
	font-size: 30px;
	color: white;
}

#login-container .container .header-login,
#login-container .container .input-group input  {
	margin-bottom: 15px;
	border-radius: 4px;
	font-size: 21px;
}

#login-container .container .loginForm h5 {
    margin-top: 0;
}

#login-container .container .input-group {
    width: 100%;
    margin-bottom: 0;
}

#login-container .container .input-group label {
    font-size: medium;
}

#login-container .container .input-group-button {
    text-align: right;    
}

#login-container .container .input-group-button a {
    color: #d9d9db;    
}

#login-container .container .input-group-button .btn-primary {
	width: 100%;
	background-color: #2a4c5e;
	border-color: #223e4c;
	margin-bottom: 8px;
}

#login-container .container .input-group-button .btn-primary:hover {
	background-color: #1a2f3b;
    border-color: #0f1c22;
}

#login-container .container .button-group .btn {
	width: 100%;
}

#login-container .container .not-found {
	padding: 8em;
	color: white;
	text-align: center;
}

#login-container .container .not-found a {
	color: #d9d9db;
}

#footer-container {
	background-color: #2a4c5e;
	color: white;
	padding: 3em 0;
}

#footer-container a {
	color: white;
}

#login-container .signup-container {
	padding: 2em;
}

#login-container .signup-container a,
#login-container .signup-container p {
	color: white;
	font-size: large;
	text-align: center;
}

#login-container .signup-container .form-group .form-control {
	font-size: 16px;
}

#login-container .signup-container h1 {
	margin-top: 0;
}

#login-container .signup-container label {
	font-size: medium;
	margin-right: 5px;
}

#login-container .signup-container .separar-abajo {
	margin-bottom: 10px;
}

@media (max-width: 768px) {
	#login-container {
		padding: 1em;
	}

	#login-container .container {
		padding: 2em;
		width: 100%;
	}

	#login-container .container .logo-container h1 {
		font-size: 30px;
		text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
	}

	#login-container .container .logo-container h4 small {
		font-size: 20px;
		color: white;
	}

	#login-container .container .header-login h1 {
		font-size: 25px
	}

	#login-container .container .not-found {
		padding: 3em;
		color: white;
		text-align: center;
		font-size: 10px;
	}
}

@media (max-width: 700px) {
	#login-container .signup-container .form-group .margin-small {
		margin-bottom: 15px;
	}
}